ul {
    list-style: none;
}

#customFile .custom-file-input:lang(fr)::after {
    content: "Sélectionner un fichier";
}
  
#customFile .custom-file-input:lang(fr)::before {
    content: "Cliquer";
}
  
/*Lorsque qu'une valeur est sélectionnée, cette classe remplace le contenu*/
.custom-file-input.selected:lang(fr)::after {
    content: "" !important;
}
  
.custom-file {
    overflow: hidden;
}

.custom-file-input {
    white-space: nowrap;
}

.erreur {
    color: rgb(212,0,0);
    font-style: italic;
    padding-top: 10px;
}